swagger: "2.0"
info:
  version: MVP
  title: "Watchlotto"
  description: |
    This is the documentation for the Watchlotto API. The
    API requires authentication and API credentials are only available to first-party clients at this moment in time.

  contact:
    name: Netsells
    email: sam@netsells.co.uk
    url: https://netsells.co.uk
host: watchlotto.com
basePath: /api
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  oAuthClient:
    type: oauth2
    flow: application
    tokenUrl: 'https://watchlotto.com/oauth/token'
    scopes: {}
  oAuthUser:
    type: oauth2
    flow: password
    tokenUrl: 'https://watchlotto.com/oauth/token'
    scopes: {}

paths:
  /register:
    post:
      tags:
        - Auth
      summary: Register a user
      operationId: registerUser
      security:
        - oAuthClient: []
      parameters:
        - in: body
          required: true
          name: user
          schema:
            $ref: '#/definitions/RegistrationUser'
      responses:
        201:
          description: User registered
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/User'
  /reset-password:
    post:
      tags:
        - Auth
      summary: Initiates a password reset
      operationId: resetPassword
      security:
        - oAuthClient: []
      parameters:
        - in: body
          required: true
          name: email
          schema:
            type: object
            properties:
              email:
                $ref: '#/definitions/Email'
      responses:
        200:
          description: Password reset email sent
  /reset-password/{token}:
    post:
      tags:
        - Auth
      summary: Completes a password reset
      operationId: completeResetPassword
      security:
        - oAuthClient: []
      parameters:
        - in: path
          required: true
          name: token
          type: string
        - in: body
          required: true
          name: password
          schema:
            type: object
            properties:
              password:
                $ref: '#/definitions/Password'
      responses:
        200:
          description: Password has been reset
  /game:
    get:
      tags:
        - Game
      summary: Retrieve current game
      security:
        - oAuthUser: []
      responses:
        200:
          description: The current game
          schema:
            type: object
            properties:
              data:
               allOf:
                - $ref: '#/definitions/Game'
                - type: object
                  properties:
                    orders:
                      type: array
                      items:
                        $ref: '#/definitions/Order'
  /games:
    get:
      tags:
        - Game
      summary: Retrieves all games
      security:
        - oAuthUser: []
      responses:
        200:
          description: Games
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/GameWithWinner'
  /game/{id}/watches:
    parameters:
      - in: path
        required: true
        name: id
        description: The game ID
        type: string
      - in: query
        name: brands
        description: UUIDs of brands to filter by
        type: array
        items:
          type: string
      - in: query
        name: watch_value_min
        description: Minumum value of search for watches
        type: integer
      - in: query
        name: watch_value_max
        description: Maximum value of search for watches
        type: integer
      - in: query
        name: play_value_min
        description: Minumum value of search for plays
        type: integer
      - in: query
        name: play_value_max
        description: Maximum value of search for plays
        type: integer
      - in: query
        name: gender
        description: Minumum value of search for watches
        type: string
        enum:
          - unisex
          - male
    get:
      tags:
        - Game
      summary: Retrieve watches for game
      security:
        - oAuthUser: []
      responses:
        200:
          description: The watches for the specified game
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/GameWatch'
  /orders/{orderId}:
    parameters:
      - in: path
        name: orderId
        required: true
        type: string
        description: Order UUID
    get:
      tags:
        - Order
      summary: Returns the specified order
      security:
        - oAuthUser: []
      responses:
        200:
          description: The order
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Order'
  /orders/{orderId}/plays:
    parameters:
      - in: path
        name: orderId
        required: true
        type: string
        description: Order UUID
    get:
      tags:
        - Order
      summary: Returns the orders plays
      security:
        - oAuthUser: []
      responses:
        200:
          description: The order's plays
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Play'
    post:
      tags:
        - Order
      summary: Adds a new play to the order
      security:
        - oAuthUser: []
      parameters:
        - in: body
          name: play
          required: true
          schema:
            type: object
            properties:
              watch_id:
                type: string
                example: '25154843-3bae-4028-a9f5-daca753e49ff'
              spot:
                type: object
                properties:
                  x:
                    type: integer
                    example: 123
                  y:
                    type: integer
                    example: 321

      responses:
        200:
          description: The play
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Play'
  /orders/{orderId}/plays/{playId}:
    parameters:
      - in: path
        name: orderId
        required: true
        type: string
        description: Order UUID
      - in: path
        name: playId
        required: true
        type: string
        description: Play UUID
    delete:
      tags:
        - Order
      summary: Remove play from order
      security:
        - oAuthUser: []
      responses:
        200:
          description: Play removed
  /orders/{orderId}/transaction:
    parameters:
      - in: path
        name: orderId
        required: true
        type: string
        description: Order UUID
    post:
      tags:
        - Order
      summary: Create transaction for order
      security:
        - oAuthUser: []
      parameters:
        - in: body
          name: transaction
          schema:
            type: object
            properties:
              type:
                type: string
                enum:
                  - card
                  - paypal
                  - applepay
              source:
                type: string
                example: card_23123jo21oi4j
      responses:
        202:
          description: Payment accepted
          schema:
            $ref: '#/definitions/Transaction'
  /me/cards:
    get:
      tags:
        - Cards
      summary: Returns the cards owned by the user
      security:
        - oAuthUser: []
      responses:
        200:
          description: The user's cards
          schema:
            type: array
            items:
              type: object
              properties:
                data:
                  $ref: '#/definitions/Card'
    post:
      tags:
        - Cards
      summary: Adds a new card to the user's account
      security:
        - oAuthUser: []
      parameters:
        - in: body
          name: card
          schema:
            $ref: '#/definitions/Card'
      responses:
        201:
          description: Card added
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Card'
  /me/cards/{cardId}:
    parameters:
      - in: path
        required: true
        name: cardId
        description: The card ID
        type: string
    delete:
      tags:
        - Cards
      summary: Delete a card
      security:
        - oAuthUser: []
      responses:
        200:
          description: Card deleted
  /me/profile:
    patch:
      tags:
        - User
      summary: Update the current user's profile
      parameters:
        - in: body
          name: profile
          schema:
            $ref: '#/definitions/RegistrationUser'
      responses:
        200:
          description: Profile Updated
          schema:
            $ref: '#/definitions/User'
    put:
      tags:
        - User
      summary: Uploads the user's profile photo
      description: The body of this request should be the file to upload and the content type set to the file's content type. Not what you see below (thanks openapi v2...)
      operationId: uploadProfile
      security:
        - oAuthUser: []
      consumes:
        - multipart/form-data
        - image/jpeg
      parameters:
        - in: formData
          required: true
          type: file
          name: file
      responses:
        200:
          description: Profile image accepted
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/User'
  /me/notification-settings:
    get:
      tags:
        - User
      summary: Fetches all user's notification preferences
      operationId: notificationPreferences
      security:
        - oAuthUser: []
      responses:
        200:
          description: Notification settings updated
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/NotificationSetting'
    patch:
      tags:
        - User
      summary: Updates the user's notification preferences
      operationId: updateNotificationPreferences
      security:
        - oAuthUser: []
      parameters:
        - in: body
          name: settings
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/NotificationSetting'
      responses:
        200:
          description: Notification settings updated
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/NotificationSetting'
definitions:
  Order:
    description: An order
    type: object
    properties:
      id:
        type: string
        example: '25154843-3bae-4028-a9f5-daca753e49ff'
      game:
        $ref: '#/definitions/Game'
      transaction:
        $ref: '#/definitions/Transaction'
      total:
        type: integer
        example: 599
        description: Value in pennies
  Play:
    description: A play of a game
    type: object
    properties:
      id:
        type: string
        example: '25154843-3bae-4028-a9f5-daca753e49ff'
      watch:
        $ref: '#/definitions/Watch'
      spot:
        type: object
        properties:
          x:
            type: integer
            example: 124
          y:
            type: integer
            example: 59
  Transaction:
    description: A transaction
    type: object
    properties:
      id:
        type: string
        example: '25154843-3bae-4028-a9f5-daca753e49ff'
      type:
        type: string
        enum:
          - card
          - paypal
          - applepay
      reference:
        type: string
        example: 'DKWAODKE53533'
  Game:
    description: A game
    type: object
    properties:
      id:
        type: string
        example: '25154843-3bae-4028-a9f5-daca753e49ff'
      name:
        type: string
        example: January
      starts_at:
        type: string
        example: '2018-01-01 00:00:00'
      ends_at:
        type: string
        example: '2018-02-01 00:00:00'
  GameWithWinner:
    description: Game with winner
    type: object
    allOf:
      - $ref: '#/definitions/Game'
      - type: object
        properties:
          winner:
            $ref: '#/definitions/Winner'
  Winner:
    description: Game winner
    type: object
    allOf:
      - $ref: '#/definitions/Name'
      - type: object
        properties:
          about:
            type: string
            example: "Sam is awesome, he deserved that watch."
          watch:
            $ref: '#/definitions/Watch'
  Watch:
    description: A watch
    type: object
    properties:
      id:
        type: string
        example: '25154843-3bae-4028-a9f5-daca753e49ff'
      name:
        type: string
        example: 'Rolex Submariner'
      description:
        type: string
        example: 'The daddy of all watches.'
      value:
        type: integer
        example: 1000000
        description: Value in pennies
  GameWatch:
    description: A watch in a game
    allOf:
      - type: object
        properties:
          price:
            type: integer
            example: 599
            description: Value in pennies
          featured:
            type: boolean
      - $ref: '#/definitions/Watch'
  NotificationSetting:
    description: A notification setting
    type: object
    properties:
      key:
        type: string
        example: game-starting-soon
      value:
        example: true
        type: string
  Card:
    description: A stripe card
    type: object
    properties:
      id:
        description: The stripe ID
        example: card_12ek2op1ek12opke2
        type: string
      last_4:
        type: string
        example: 5229
      brand:
        type: string
        example: Visa
  Email:
    description: User email address
    type: string
    format: email
    example: john.smith@example.com
  Name:
    type: object
    properties:
      first_name:
        description: User first name
        type: string
        minLength: 1
        example: John
      last_name:
        description: User last name
        type: string
        minLength: 1
        example: Smith

  Password:
    description: User password
    type: string
    minLength: 1
    example: mysupersecurepassword

  Phone:
    description: User phone number
    type: string
    minLength: 1
    example: '07777777777'

  Marketing:
    description: Has the user opted in for marketing
    type: boolean
    example: true

  BasicUser:
    type: object
    allOf:
      - $ref: "#/definitions/Name"
      - properties:
          email:
            $ref: '#/definitions/Email'
          phone:
            $ref: '#/definitions/Phone'
          marketing:
            $ref: '#/definitions/Marketing'

  RegistrationUser:
    type: object
    allOf:
      - $ref: "#/definitions/BasicUser"
      - properties:
          password:
            $ref: '#/definitions/Password'
  User:
    type: object
    allOf:
      - $ref: '#/definitions/BasicUser'
      - type: object
        properties:
          profile_image:
            type: string
            example: 'https://cdn.watchlotto.com/profile/1232131.jpg'
